using Terraria;
using Terraria.ID;
using Terraria.ModLoader;
using ArknightsMod.Content.Tiles.Infrastructure;
using ArknightsMod.Content.Items.Material;
using ArknightsMod.Content.Items.Material.T1;
using ArknightsMod.Content.Items.Material.T2;
using ArknightsMod.Content.Items.Material.T3;
using ArknightsMod.Content.Items.Material.T4;
using ArknightsMod.Content.Items.Material.T5;

namespace ArknightsMod.Content.Items.Armor.{class}.{name_en}
{
	[AutoloadEquip(EquipType.Body)]
	public class {name_en}Body : NeoArmorBody
	{
		public override int Rarity => {rarity};
		public override int ArmorLifeBonus => {body_life};

		public override void SetArmorDefaults() {
			Item.defense = {body_defense};
		}
		
		public override void AddRecipes() {
			CreateRecipe()
			.AddIngredient<{name_en}Body>(1)
			.AddIngredient<Orundum>({rarity*10})

			.AddIngredient<{body_materials.item}>({body_materials.amount})
			.AddTile(ModContent.TileType<FactoryTile>())
			.AddCondition(NeoArmorUtils.NeedVanity)
			.DisableDecraft()
			.Register();
		}
	}
}
